.launches {
	display: block;
	width: 500px;
	margin-top: 10rem;

	&__heading {
		color: $white;
		font-family: 'Ropa Sans', sans-serif;
	}

	&__container {
		color: $white;
		height: 400px;
		overflow-y: scroll;
		overflow-x: hidden;
	}

	&__buttons {
		display: flex;
		justify-content: space-between;
	}

	button {
		cursor: pointer;
		width: 100px;
	}
}
