.launches {
	display: block;
	width: 400px;
	margin-top: 16rem;

	&__heading {
		color: $white;
		font-size: 3rem;
		font-weight: 200;
		text-align: center;
		margin-bottom: 2rem;
		font-family: 'Ropa Sans', sans-serif;
	}

	&__container {
		color: $white;
		height: 400px;
		overflow-y: scroll;
		overflow-x: hidden;
	}

	&__buttons {
		display: flex;
		justify-content: space-between;
	}

	button {
		cursor: pointer;
		width: 100px;
	}
}

// Scrollbar

/* Firefox */
* {
	scrollbar-width: auto;
	scrollbar-color: #ffffff #000000;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 16px;
}

*::-webkit-scrollbar-track {
	background: $black;
}

*::-webkit-scrollbar-thumb {
	background-color: #ffffff;
	border-radius: 10px;
	border: 3px none #ffffff;
}
